div{
    width: 280px;
    text-align: center;
    height: 400px;
    margin-top: 100%;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
}
div:not(:first-of-type){
    margin-top: -140.8%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.hdqwalls.com/wallpapers/green-blue-purple-blur-4k-68.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
div:not:(:first-of-type):active{
    transform: translateY(5px);
}
.front{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;
    border-radius: 10px;
    border: 3px solid rgb(180, 169, 169);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.back{
    background-color: aliceblue;
    z-index: 9;
    text-align: center;
    border-radius: 10px;
    border: 3px solid rgb(180, 169, 169);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
    margin-top: 25%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.28rem;
    font-weight: bold;
}
h5{
    position: fixed;
    bottom: 0%;
    left: 40%;
}
.one{
    z-index: 12;
}
.two{
    margin-left: -1.7%;
    z-index: 11;
}
.three{
    margin-left: -3.0%;
    z-index: 10;
}
.four{
    margin-left: -4.5%;
    z-index: 9;
}
.fifth{
    margin-left: -5.5%;
    z-index: 8;
}
.six{
    margin-left: -6.9%;
    z-index: 7;
}
.seven{
    margin-left: -8.5%;
    z-index: 6;
}
.eight{
    margin-left: -9.9%;
    z-index: 5;
}
.nine{
    margin-left: -11.5%;
    z-index: 4;
}
.ten{
    margin-left: -12.9%;
    z-index: 3;
}
.eleven{
    margin-left: -14.2%;
    z-index: 2;
}
.twelve{
    margin-left: -15.7%;
    z-index: 1;
}
#all{
    width: 285px;
    height: 400px;
    position: absolute;
}
div{
    display: flex;
}
@media only screen and (width: 375px){
    div{
        width: 40%;
        height: 50%;
    }
    .front{
        border: 3px solid rgb(180, 169, 169);
    }
    .back{
        border: 3px solid rgb(180, 169, 169);
    }
    div:not(:first-of-type){
        margin-top: -70.3%;
    }
    img{
        width: 60px;
    }
    p{
        font-size: .8rem;
    }
    h5{
        left: 30%;
        font-size: .6rem;
    }
}
@media only screen and (width: 414px){
    div{
        width: 50%;
        height: 50%;
    }
    div:not(:first-of-type){
        margin-top: -71%;
    }
    img{
        width: 70px;
    }
    p{
        font-size: .8rem;
    }
    h5{
        left: 35%;
        font-size: .6rem;
    }
}
@media only screen and (width: 390px){
    div{
        width: 40%;
        height: 50%;
    }
    div:not(:first-of-type){
        margin-top: -70.3%;
    }
    .front{
        border: 3px solid rgb(180, 169, 169);
    }
    .back{
        border: 3px solid rgb(180, 169, 169);
    }
    img{
        width: 60px;
    }
    p{
        font-size: .8rem;
    }
    h5{
        left: 30%;
        font-size: .6rem;
    }
}
@media only screen and (width: 1920px){
    div{
        width: 80%;
        height: 80%;
    }
    div:not(:first-of-type){
        margin-top: -112.9%;
    }
    img{
        width: 200px;
    }
    p{
        font-size: .9rem;
    }
    h5{
        left: 40%;
        font-size: .6rem;
    }
}
@media only screen and (width: 1024px){
    div{
        width: 80%;
        height: 80%;
        right: 70%;
    }
    div:not(:first-of-type){
        margin-top: -112.9%;
    }
    img{
        width: 200px;
    }
    p{
        font-size: .9rem;
    }
    h5{
        left: 40%;
        font-size: .6rem;
    }
}
@media only screen and (width: 412px){
    div{
        width: 45%;
        height: 45%;
    }
    div:not(:first-of-type){
        margin-top: -63.7%;
    }
    .front{
        border: 3px solid rgb(180, 169, 169);
    }
    .back{
        border: 3px solid rgb(180, 169, 169);
    }
    img{
        width: 90px;
    }
    p{
        font-size: .6rem;
    }
    h5{
        left: 36%;
        font-size: .5rem;
    }
}
@media only screen and (width: 1366px){
        div{
            right: 10%;
            width: 95%;
            height: 95%;
        }
        div:not(:first-of-type){
            margin-top: -134.5%;
        }
        img{
            width: 220px;
        }
}
@media only screen and (width: 393px){
    div{
        width: 45%;
        height: 45%;
    }
    .front{
        border: 2px solid rgb(180, 169, 169);
    }
    .back{
        border: 2px solid rgb(180, 169, 169);
    }
    div:not(:first-of-type){
        margin-top: -63.7%;
    }
    img{
        width: 90px;
    }
    p{
        font-size: .6rem;
    }
    h5{
        left: 36%;
        font-size: .5rem;
    }
}
@media only screen and (width: 360px){
    div{
        width: 35%;
        height: 45%;
    }
    .front{
        border: 2px solid rgb(180, 169, 169);
    }
    .back{
        border: 2px solid rgb(180, 169, 169);
    }
    div:not(:first-of-type){
        margin-top: -63.5%;
    }
    img{
        width: 60px;
    }
    p{
        font-size: .6rem;
    }
    h5{
        left: 30%;
        font-size: .6rem;
    }
    .one{
        z-index: 12;
    }
    .two{
        margin-left: -1%;
        z-index: 11;
    }
    .three{
        margin-left: -2.0%;
        z-index: 10;
    }
    .four{
        margin-left: -3%;
        z-index: 9;
    }
    .fifth{
        margin-left: -4%;
        z-index: 8;
    }
    .six{
        margin-left: -5%;
        z-index: 7;
    }
    .seven{
        margin-left: -6%;
        z-index: 6;
    }
    .eight{
        margin-left: -7.3%;
        z-index: 5;
    }
    .nine{
        margin-left: -8.4%;
        z-index: 4;
    }
    .ten{
        margin-left: -9.4%;
        z-index: 3;
    }
    .eleven{
        margin-left: -10.5%;
        z-index: 2;
    }
    .twelve{
        margin-left: -11.5%;
        z-index: 1;
    }
}
.winner{    
    width: 600px;
    height: 400px;
    background-color: pink;
    border: 3px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    transition: transform 2s;
    text-align: center;
    justify-content: center;
    z-index: 2222;
}
.winner button{
    margin-top: 35%;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    animation-duration: 3s;
  }
  .winner h1{
      margin-left: 5%;
  }
  .winner button:active{
    opacity: .5;
    transform: translateY(3px);
  }
  .winner button:hover{
    transform: scale(1.2);
  }
  @media only screen and (max-width: 390px) {
    .winner {
      width: 300px;
      height: 200px;
    }
    .winner button{
        width: 70px;
        height: 30px;
        font-size: .6rem;
        margin-bottom: 15%;
    }
    .winner h1{
      font-size: 1rem;
      margin-right: 15%;
    }
  }
  @media only screen and (max-width: 400px) {
    .winner {
      width: 300px;
      height: 200px;
    }
    .winner button{
        width: 70px;
        height: 30px;
        font-size: .6rem;
        margin-bottom: 15%;
    }
    .winner h1{
      font-size: 1rem;
      margin-right: 15%;
    }
  }
  @media only screen and (max-width: 360px) {
    .winner {
      width: 300px;
      height: 200px;
    }
    .winner button{
        width: 70px;
        height: 30px;
        font-size: .6rem;
        margin-bottom: 15%;
    }
    .winner h1{
      font-size: 1rem;
      margin-right: 15%;
    }
  }
  @media only screen and (max-width: 375px) {
    .winner {
      width: 300px;
      height: 200px;
    }
    .winner button{
        width: 70px;
        height: 30px;
        font-size: .6rem;
        margin-bottom: 15%;
    }
    .winner h1{
      font-size: 1rem;
      margin-right: 15%;
    }
  }
  @media only screen and (max-width: 280px) {
    .winner {
      width: 300px;
      height: 200px;
    }
    .winner button{
        width: 70px;
        height: 30px;
        font-size: .6rem;
        margin-bottom: 15%;
    }
    .winner h1{
      font-size: 1rem;
      margin-right: 15%;
    }
  }
  @media only screen and (max-width: 480px) {
    .winner {
      width: 300px;
      height: 200px;
    }
    .winner button{
        width: 70px;
        height: 30px;
        font-size: .6rem;
        margin-bottom: 15%;
    }
    .winner h1{
      font-size: 1rem;
      margin-right: 15%;
    }
  }